@import './normalize.css';

:root{
    --textColor: #0f0f0f;
    --text-heig-color:#ff5777;
    --tintColor:#e83a44;
    --bgColor:#fff;
    --textSize:14px;
    --linHeight:1.5;
}


body{
    margin: 0;
    padding: 0;
}
ul{list-style: none;}
a{text-decoration: none;color: var(--textColor);}
body{font-family: "微软雅黑";color: var(--textColor);background:var(--bgColor) ;}


